

<iframe
    id="@Url"
    width="100%"
    height="100%"
    src="@Src">
</iframe>

    @code {
    

    [Parameter]
    public string Url { get; set; }

    public string Src => $@"
        data:text/html;charset=utf-8,
        <head><base target='_blank' /></head>
        <body style='margin: 0; padding: 0'><script src='{Url}.js'></script>
        </body>
    ";

}