@using System.Text

@if (IsLoading)
{
    <div class="content">
        <progress class="progress is-small is-dark" max="100">45%</progress>
        <p>Just getting the gist from <i class="fab fa-github"></i> ...</p>
    </div>
}

<iframe
    @onload="() => IsLoading = false"
    id="@Url"
    width="100%"
    height="100%"
    src="@Src">
</iframe>

@code {

    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public string File { get; set; }

    bool IsLoading { get; set; } = true;

    private string GetUrl()
    {
        var builder = new StringBuilder().Append(Url).Append(".js");

        if (string.IsNullOrWhiteSpace(File))
        {
            return builder.ToString();
        }

        return builder.Append("?file=").Append(File).ToString();
    }

    public string Src => @"data:text/html;charset=utf-8,
        <head>
            <base target='_blank' />
            <style>
                body .gist .gist-file {
                    border: none;
                }
                body blockquote {
                    margin-inline-start: 0px;
                }
                body .gist .gist-data {
                    padding-bottom: 10px;
                }
            </style>
        </head>
        <body id='custom-gist' style='margin: 0; padding: 0'>
            <script src='" + GetUrl() + @"'></script>
        </body>
    ";

}