<header class="hero is-light mb-5">
    <div class="hero-body">
        <div class="media is-align-items-center">
            <figure class="media-left">
                <p class="image is-128x128">
                    <img class="is-rounded" src="assets/profile.jpeg" alt="Profile Picture">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p class="title">
                        Billy Mumby
                    </p>
                    <p class="subtitle">
                        I am a senior .NET developer currently working at <a href="https://careers.next.co.uk/warehouse-distribution/" class="is-underlined">Next</a> working with ASPNET.CORE, AZURE & C#
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
