<hr style="border-bottom: 1px solid #363636; margin: 0; opacity: 0.2"/>
<footer class="footer has-background-white py-4">
  <div class="content has-text-centered">
    <p>
      Made with <i class="fa fa-heart"></i> by Billy Mumby. The <i class="fab fa-github"></i> source code is
      <a href="https://github.com/mumby0168/website">here</a>.
    </p>
    <div class="level">
      <div class="level-item">
        <a href="/.auth/login/github" class="has-text-dark"><i class="fa fa-sign-in-alt"></i></a>
      </div>
    </div>
  </div>
</footer>

@code {
    
}