<div class="container">
    <div class="section my-5">
        <div class="content">
            <progress class="progress is-medium is-dark" max="100">45%</progress>
            <p>@Message</p>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Message { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && Message is null)
        {
            Message = "Hang on in there ...";
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }

}