<div class="container">
    <section class="section">
        <div class="content">
            <h1>Nothing at this address</h1>
            <p>Sorry there was nothing found at this address.</p>
            <NavLink href="/">Back home</NavLink>
        </div>
    </section>
</div>