@page "/"

<HeadContent>
    <meta name="og:image" content="https://www.billymumby.net/assets/header.png"/>
    <meta property="og:title" content="Billy Mumby"/>
    <meta name="author" content="Billy Mumby"/>
    <meta property="og:type" content="website">
    <meta property="og:type" content="website">
    <meta name="description" content="I am a .NET developer currently working at Next working with ASPNET.CORE, AZURE & C#"/>
    <meta property="og:description" content="I am a .NET developer currently working at Next working with ASPNET.CORE, AZURE & C#"/>
    <meta property="og:url" content="https://www.billymumby.net/"/>
    <meta property="og:site_name" content="Billy Mumby"/>
    <meta property="og:image" content="https://www.billymumby.net/assets/header.png"/>
    <meta property="og:type" content="article"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="twitter:image" content="https://www.billymumby.net/assets/header.png"/>
    <meta property="twitter:title" content=""/>
    <meta name="twitter:site" content="@MetaTagsHelper.Twitter"/>
    <meta name="twitter:creator" content="@MetaTagsHelper.Twitter"/>
</HeadContent>


<section class="section">
    <Header></Header>
    <div class="columns">
        <div class="column is-one-third">
            <article class="content">
                <h1 class="title">About me</h1>
            </article>
            <article class="tile is-child notification">
                <div class="content">
                    <p>
                        Hi I am Billy, I am @Age years old, I live in Kingston Upon Hull in the West Yorkshire.
                    </p>
                    <p>
                        I took my first computer science lesson in year 10 at school in 2015,
                        it was covering C# where we made a average speed camera application written in a .NET Framework console application.
                    </p>
                    <p>I have now been programming in .NET and C# for @YearsProgramming years. I have used C# through sixth form, university and in my job.</p>

                    <p>
                        I have worked on some great projects that have included using C# & .NET, my first job at BAE Systems where I started working in 2017,
                        where I worked on great projects to provide software to aid pilot training, for many air forces around the world.
                    </p>

                    <p>This included make libaries in C#, making large applications in WPF and web applications in ASP.NET CORE.</p>
                </div>
            </article>
        </div>
        <div class="column is-two-thirds">
            <article class="content">
                <h1 class="title">Projects</h1>
            </article>

            @foreach (var project in Projects.OrderByDescending(p => p.StartedAt))
            {
                <ProjectTile Project="@project"/>
            }

        </div>
    </div>
</section>

@code {

    public int Age
    {
        get
        {
            var age = DateTime.Now.Year - Dob.Year;
            if (DateTime.Now.DayOfYear < Dob.DayOfYear) age -= 1;
            return age;
        }
    }

    public int YearsProgramming => DateTime.Now.Year - 2015;

    public DateTime Dob = new DateTime(1999, 3, 29);

    List<Project> Projects { get; set; } = new()
    {
        new()
        {
            Id = Guid.NewGuid().ToString(),
            Title = "Azure Cosmos Repository",
            Kind = "OSS Project",
            Description = @"I am currently working on a repository pattern open source project for Microsoft's Cosmos Database.
                                This provides a simple way to interact with the NoSQL document store.",
            ImagePath = "assets/cosmos-repo.png",
            StartedAt = new DateTime(2021, 7, 20),
            Link = new("https://github.com/IEvangelist/azure-cosmos-dotnet-repository", "Check it out here"),
            Tags = new()
            {
                new TechTag("azure", Color.Primary),
                new TechTag("cosmos", Color.Primary),
                new TechTag("nuget", Color.Primary),
                new TechTag("oss", Color.Primary),
                new TechTag("github", Color.Primary)
            }
        },
        new()
        {
            Id = Guid.NewGuid().ToString(),
            Title = "Next Cloud State Machine",
            Kind = "Work Project",
            Description = @"This is a state machine implementation to aid building simple consistent applications for warehouse operatives.
                                It also aids simple development of applications & supports unit & integration testing.",
            ImagePath = "assets/ncsm.png",
            StartedAt = new DateTime(2021, 7, 2),
            Tags = new()
            {
                new TechTag("azure", Color.Primary),
                new TechTag("cosmos", Color.Primary),
                new TechTag("azure-key-vault", Color.Primary),
                new TechTag("azure-app-service", Color.Primary),
                new TechTag("azure-devops", Color.Primary),
                new TechTag("ci-cd", Color.Primary),
                new TechTag("azure-app-insights", Color.Primary)
            }
        },
        new()
        {
            Id = Guid.NewGuid().ToString(),
            Title = "Total Platform Packing",
            Kind = "Work Project",
            Description = @"This is a packing application that handles all of the packing of customers orders for the total platform customers at Next.",
            ImagePath = "assets/packing.png",
            StartedAt = new DateTime(2021, 4, 1),
            Tags = new()
            {
                new TechTag("azure", Color.Primary),
                new TechTag("cosmos", Color.Primary),
                new TechTag("azure-key-vault", Color.Primary),
                new TechTag("azure-app-service", Color.Primary),
                new TechTag("azure-devops", Color.Primary),
                new TechTag("ci-cd", Color.Primary),
                new TechTag("azure-app-insights", Color.Primary),
            }
        }
    };

}