<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-4">
            Billy Mumby
        </a>
        

        <a @onclick="@ToggleBurger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    
    <hr class="navbar-divider"/>


    <div class="@NavBarMenuClass">
        <div class="navbar-start">
            <a class="navbar-item">
                <span class="icon-text has-text-dark">
                    <span class="icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <span>Posts</span>
                </span>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a>
                    <span class="icon-text has-text-dark">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                    </span>
                </a>
            </div>
            <div class="navbar-item">
                <a>
                    <span class="icon-text has-text-dark">
                        <span class="icon">
                            <i class="fab fa-linkedin"></i>
                        </span>
                        <span>LinkedIn</span>
                    </span>
                </a>
            </div>
            <div class="navbar-item">
                <a>
                    <span class="icon-text has-text-dark">
                        <span class="icon">
                            <i class="fab fa-twitter"></i>
                        </span>
                        <span>Twitter</span>
                    </span>
                </a>
            </div>
        </div>

    </div>
</nav>

@code {

    void ToggleBurger() => IsMenuVisible = !IsMenuVisible;

    bool IsMenuVisible { get; set; }

    string NavBarMenuClass => IsMenuVisible ? "navbar-menu is-active" : "navbar-menu";

}